
<script defer src="/js/speech.js"></script>
<script defer src="/js/bot.js"></script>


<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5f1467f2f4257729"></script>
<footer><h5 style="text-align:center;background-color:#0779e4;color:white;">© Covid Care</h5></footer>
</body>

</html>