<%- include("../partials/header") %>
<div class="row"style="margin-top: 1%;" >
	<div class="col-6" >
		<div style="text-align:center; float:right;">
		<img src="\preventions\Komal.jpeg" style="border-radius:100%;height:18vh;"><br>
		  <a href="#" class="icn" ><i class="fab fa-facebook-f  " ></i>
        </a>
        <a href="https://instagram.com/snorlax_022?igshid=ms4hh17ec6qz" class="icn"><i class="fab fa-instagram " ></i>
        </a>
        <a href="https://www.linkedin.com/in/komal-mahto-14912319b" class="icn"  ><i class="fab fa-linkedin-in " ></i>
        </a>
         <a href="https://twitter.com/KomalMahto6" class="icn" ><i class="fab fa-twitter " ></i>
        </a>
		</div>

       </div>
			 <div class="col-6" >
		<div style="text-align:center;float:left;">
		<img src="\preventions\Samar.jpeg" style="border-radius:100%;height:18vh;"><br>
		  <a href="https://www.facebook.com/profile.php?id=100037456986403" class="icn" ><i class="fab fa-facebook-f  " ></i>
        </a>
        <a href="https://www.instagram.com/knitron07/?hl=en" class="icn"><i class="fab fa-instagram " ></i>
        </a>
        <a href="https://www.linkedin.com/in/samardeep-singh-mahur-871171197/" class="icn"  ><i class="fab fa-linkedin-in " ></i>
        </a>
         <a href="https://twitter.com/knitron07" class="icn" ><i class="fab fa-twitter " ></i>
        </a>
		</div>

       </div>



</div>
<div class="row">
<div class="col contact">
	<div class="col-lg-6 col-md-12"  style="margin:1% auto;border:1px solid gray;">
		<form action="/contactus" method="POST" autocomplete="off">
			<h1 style="text-align:center;">Contact Us</h1>
			<div class="form-label-group">
		<input type="text"  name="fullName"  class="form-control" placeholder="Full Name" required autofocus>
							<label for="inputEmail">Full Name</label>
					</div>
			<div class="form-label-group">
		<input type="text"  name="email"  class="form-control" placeholder="Full Name" required autofocus>
							<label for="inputEmail">Email</label>
					</div>
			<div class="form-label-group">
		<input type="text"  name="phone"  class="form-control" placeholder="Full Name" required autofocus>
							<label for="inputEmail">Phone Number</label>
					</div>
			<div class="form-label-group">
				<input type="text"  name="message"  class="form-control" placeholder="Message"  required autofocus>
							<label for="inputEmail">Message</label>
					</div>
			<button class="btn btn-lg btn-primary btn-block">Send Message</button>


		</form>

</div>

</div>
</div>


<%- include("../partials/footer") %>
